
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


.canvas-wrapper{
	background: #fff;
	width: 100%;
	height: 100%;
	display: table;
	margin: 0;
	padding: 0;
}


.canvas-container{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


canvas{
	vertical-align: middle;
	margin: 0 auto;
	background-color: green;
}

.info-box{
	position: fixed;
	bottom: 10px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	background: #000;
	border: 1px solid green;
	text-align: center;
	color: #55ff55;
	padding: 15px;
	height: auto;
}